__pycache__/
.config/atlassian-cli/admin_config.yaml
.config/atlassian-cli/global_config.yaml
.config/atlassian-cli/jira_config.yaml
.config/atlassian-cli/rovodev_config.yaml
.config/bat/themes/
.config/gh/hosts.yml
.config/github-copilot/apps.json
.config/helm/repositories.lock
.config/helm/repositories.yaml
.config/lnav/*
!.config/lnav/.gitkeep
.DS_Store
*.py[cod]
