[tools]
ctlptl = "latest"
go = "latest"
gradle = "latest"
helm = "latest"
java = "latest"
kind = "latest"
kotlin = { version = "latest", asset_pattern = "kotlin-compiler-*.zip", bin_path = "kotlinc/bin" }
krew = "latest"
kubebuilder = "latest"
kubectl = "latest"
maven = "latest"
mockery = "latest"
node = "latest"
python = "3"
rancher = "latest"
rust = "latest"
step = "latest"
tilt = "latest"
